.SettingLogo {
  display: inline-block;
  width: 60px;
  padding: 2px;
}

.SettingLogo img {
  border-radius: 4px;
  width: 60px;
  height: 60px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.SettingLogo:hover img {
  opacity: 0.5;
}
