.ProfileHandle {
  display: inline-block;
  padding: 5px 2px;
}

.ProfileHandle button {
  background-color: #d0d0d0;
  border: 1px solid #8c8c8c;
  color: #666666;
  padding-top: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: n-resize;
  border-radius: 3px;
  width: 30px;
}

.ProfileHandle button:focus, button:focus{
    outline: none;
}
