.BrandingLogo {
    display: inline-block;
    width: 60px;
    padding: 2px;
}

.BrandingLogo img {
    border-radius: 4px;
    width: 46px;
    height: 46px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.BrandingLogo:hover img {
    opacity: 0.5;
}
