.FooterInfo {
  display: inline-block;
  vertical-align: top;
  padding-top: 2px;
  text-align: left;
}

.FooterInfo h1 {
  margin: 0;
  font-size: 1em;
  color: #367532;
}

.BrandingLink {
  color: #367532;
  text-decoration: none;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.BrandingLink:visited {
  color: #367532;
}

.BrandingLink:hover {
  color: #367532;
  text-decoration: underline;
  opacity: 0.5;
}

.BrandingInfoVersion {
  color: #8f8f8f;
  font-size: 0.8em;
}

.FooterInfo p {
  color: #8f8f8f;
  font-size: 0.8em;
  margin-top: 2px;
}
