.BlockSettingWrapper {
    position: relative;
    display: grid;
    align-items: start;
    grid-template-columns: auto 48px;
    margin: 4px 1px;
    width: 100%;
    z-index: 10; /* Ensure this stays on top */
}

.BlockSetting {
    background-color: #ffe9e9;
    padding: 10px;
    margin-top: 4px;
    border-radius: 4px;
    border: 1px solid #7e0000;
}

.timeRangeContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding-left: 40px;
}

.toText {
    font-size: 14px;
    color: #333;
}

.spacer-element {
    width: 48px;
}
