.BlockSetting {
    background-color: #f1f1f1;
    padding: 10px;
    margin-top: 4px;
    border-radius: 4px;
    width: 100%;
    min-height: 50px;
    border: 1px solid #c4c4c4;
}

.timeRangeContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
}

.timeInput {
    padding: 5px;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    width: 80px;
    text-align: center;
    font-size: 14px;
}

.toText {
    font-size: 14px;
    color: #333;
}

/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-left: auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}
