.SettingsDataImport {
    display: inline-block;
}

.SettingsDataImport label {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 10px 6px 10px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    opacity: 1;
    transition: .5s ease;
}

.SettingsDataImport:hover label {
    opacity: 0.5;
}

.SettingsDataImport input[type='file'] {
    display: none;
}

.SettingsDataImport svg {
    width: 16px;
    height: 16px;
}
