.SettingsDataExport {
  display: inline-block;
}

.SettingsDataExport button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  opacity: 1;
  transition: .5s ease;
}

.SettingsDataExport:hover button {
  opacity: 0.5;
}

.ProfileAdd button:disabled,button[disabled] {
  background-color: #cccccc;
  color: #666666;
  cursor: default;
  opacity: 0.5;
}
